#parent {
	margin: 20px auto;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border: 2px solid #696989;
}

#parent1 {
	margin: 20px auto;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border: 2px solid #696989;
}

.parent {
	margin: 20px auto;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 3fr;
    grid-gap: 10px;
    border: 2px solid #696989;
}

#parent > div, .parent > div, #parent1 > div {
	height: 100px;
	padding: 10px;
	border: 1px solid #696989;
}


