#elem1 {
    background-color: #ff8888;
    left: 30px;
    top: 30px;
}
#elem1, #elem2, #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}
#elem2 {
    background-color: #7e89eb;
    left: 60px;
    top: 60px;
    z-index: 1;
}
#elem3 {
    background-color: #4dee99;
    left: 90px;
    top: 90px;
}

.elem1 {
    background-color: #ff8888;
    left: 230px;
    top: 230px;
    z-index: 2;
}
.elem1, .elem2, .elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}
.elem2 {
    background-color: #7e89eb;
    left: 260px;
    top: 260px;
    z-index: 1;
}
.elem3 {
    background-color: #4dee99;
    left: 290px;
    top: 290px;
}