.eee i {
    color: red;
}
/* выберит в классе eee элемент с классом bbb и применит стиль */
.eee .bbb {
	color: red;
}
/* выберит в классе eee тег h2 и применит стиль */
.eee h2 {
	color: red;
}
/* выберит в классе eee3 тег h2 с классом bbb и применит стиль */
.eee3 h2.bbb {
	color: red;
}
/* выберит в классе eee4 тег h3 с классом bbb и применит стиль */
.eee4 h3.bbb {
	color: red;
}
/* выберит в классе eee3 тег p с классом bbb и применит стиль */
.eee3 p.bbb {
	color: red;
}
/* выберит в классе eee4 класс bbb, а в классе bbb класс kkk и применит стиль */
.eee4 .bbb .kkk {
	color: red;
}